@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Lora&family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    

   /* background-color: rgb(13, 24, 67);*/

}
body{
    padding: 0;
    background-color: rgb(2, 10, 45);
}
.h1{font-family: 'Cinzel', serif;
    color:#a2a1aa;;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    font-size: 29px;
}
.h1 h6{
    display:flex;
    justify-self:center;
    padding:0 3vw;
}
.h1 h4{
    display:flex;
    justify-content:center;}
.h{font-family: 'Cinzel', serif;
    
    color: #e2e1f0;
    display: flex;
    margin-top:6vh;
    justify-content: center;
    font-family: 'Noto Sans', sans-serif;
}
    
.sidebar{
    background-color: black;
    width:20vw;
    height: 100vh;;
    transition:transform 2s ease-in;
    position:fixed;
    top:2.8vh;
    left:0px;
    min-width:147px;
    z-index: 4;
    top:0px;
   
}
.sidebargo{
    transform: translate(-186px 0px);
    position:fixed;
    visibility: hidden;
   
    
}
.sidebar nav{
    margin: 0;
    padding: 20px;
    color:#fdffff;;
}
.sidebar nav li{
    list-style: none;
    font-size: 25px;
    margin: 0;
    cursor:pointer;
    padding: 7.5vh 0;
    padding-left: 6vw;
    
}
.sidebar nav li a{
    text-decoration: none;
    color: white;

}
.hamburger{
    background-color: black;
   position:fixed;
  
   align-self: start;
   width:100vw;
   height:6vh;
   top:0px;
   z-index: 5;

}
.ham {
    margin-top:  1.5vh;
    margin-left: 10px;
    transition:tranceform(4s);
    cursor: pointer;
}



.cross{
    margin-top:  1.5vh;
    margin-left: 10px;
    transition:tranceform(.700s);
    cursor: pointer;
   
}
.card{
    min-height: 250px;
    position:unset;
    background-color:rgb(2, 7, 34);
    background-color:rgb(2, 8, 37);
    transition:transform 0.65s cubic-bezier(0.05,0.2,0.1,1);
    box-shadow:0.65s cubic-bezier(0.05,0.2,0.1,1);

}
.card:hover{
    box-shadow: 0 2px 70px 0 rgb(253 71 102 /5%);
    transform: translateY(-5px);
}
.card-body{
    background-color:rgb(2, 8, 37);
}

.card-img-top{
    background-color:rgb(3 11 51);
    background-color:rgb(2, 8, 37);
    width: 70px;
    padding-left: 25px;
    padding-top: 12px;
   
}
.card-text{
    background-color:rgb(3 11 51);
    background-color:rgb(2, 8, 37);
}
.card-title{
    background-color:rgb(3 11 51);
    background-color:rgb(2, 8, 37)
}

.ist{
    
    display:flex;
    flex-direction: row;
    margin: 4vh 0;
   
    flex-wrap: wrap;
    justify-content: space-around;
   
    

   
}
.tst{
    
    display:flex;
    flex-direction: row;
    padding-top: 6vh;
    margin-bottom: 6vh;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card-title{
    color: rgb(229, 210, 210);
}
.card-text{
    color: rgb(229, 210, 210);

}

.footer{
    background-color: black;
   
  justify-self:bottom;
  bottom: 0px;
   align-items: center;
   width:100vw;
   height:6vh;
   position: sticky;
    bottom: 0px;
  display: flex;
    justify-content: center;
    z-index: 3;
    flex-wrap: wrap;}
    .icons{
        display: flex;
        justify-content: space-between;
        width: 156px;
        
    
    }
    .copy{
          position: absolute;
          right: 0px;
          font-size: .7vw;
          color: #7a7988;
          
          padding-right: 32px;
        }